<mat-toolbar color="primary">
    <button mat-icon-button aria-label="Menu">
        <mat-icon>menu</mat-icon>
    </button>
    <span>TRE Admin Portal</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button aria-label="User">
        <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button aria-label="Apps">
        <mat-icon>apps</mat-icon>
    </button>
</mat-toolbar>

<mat-tab-group>
    <mat-tab matBadge="8" matBadgePosition="after" matBadgeColor="primary" label="Unchecked Request">
        <sde-unchecked-request-list></sde-unchecked-request-list>
    </mat-tab>
    <mat-tab matBadge="8" matBadgePosition="after" matBadgeColor="primary" label="Unchecked Response">
        <sde-unchecked-response-list></sde-unchecked-response-list>
    </mat-tab>
    <mat-tab matBadge="8" matBadgePosition="after" matBadgeColor="primary" label="Request Checking Control">
        <sde-request-checking-control></sde-request-checking-control>
    </mat-tab>
    <mat-tab matBadge="8" matBadgePosition="after" matBadgeColor="primary" label="Response Checking Control">
        <sde-response-checking-control></sde-response-checking-control>
    </mat-tab>
    <mat-tab matBadge="8" matBadgePosition="after" matBadgeColor="primary" label="Agreement Datas">
        <sde-agreement-datas></sde-agreement-datas>
    </mat-tab>
    <mat-tab matBadge="8" matBadgePosition="after" matBadgeColor="primary" label="Interaction History">
        <sde-interaction-history></sde-interaction-history>
    </mat-tab>
    <mat-tab matBadge="8" matBadgePosition="after" matBadgeColor="primary" label="Development Support">
        <sde-devel-support></sde-devel-support>
    </mat-tab>
</mat-tab-group>
