<mat-card>
    <mat-card-header>
        <mat-card-title><h1>Agreements Data List</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="agreementsDatas != null">
        <p>{{agreementsDatas | json}}</p>
        <p>{{selectedAgreementsData | json}}</p>
        <p>{{data | json}}</p>
        <mat-tab-group (selectedIndexChange)="doSelectAgreementsDataIndex($event)">
            <mat-tab *ngFor="let agreementsData of agreementsDatas" [label]="agreementsData.label">
                <table mat-table *ngIf="data != null" [dataSource]="data">
                    <ng-container matColumnDef="text">
                        <th mat-header-cell *matHeaderCellDef> Text </th>
                        <td mat-cell *matCellDef="let data"> text </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="data.label"></tr>
                    <tr mat-row *matRowDef="let row; columns: data;"></tr>
                </table>
                <mat-paginator *ngIf="data != null" [length]="data.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"></mat-paginator>
            </mat-tab>
        </mat-tab-group>
        <mat-progress-bar mode="indeterminate" *ngIf="isLoadingTables"></mat-progress-bar>
        <mat-progress-bar mode="indeterminate" *ngIf="isLoadingTableData"></mat-progress-bar>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="doReloadAgreementsDataSummaries()">RELOAD AGREEMENTS DATA TYPES</button>
        <button mat-button *ngIf="selectedAgreementsData != null" (click)="doReloadAgreementsDataData()">RELOAD AGREEMENTS DATA</button>
    </mat-card-actions>
</mat-card>
