<mat-card>
    <mat-card-header>
        <mat-card-title><h1>Response List</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="column">
                <table mat-table [dataSource]="responseMetadatas">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> Response Id </th>
                        <td mat-cell *matCellDef="let response"> {{response.id}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="doSelectResponse(row)"></tr>
                </table>
                <mat-progress-bar mode="indeterminate" *ngIf="isLoadingResponseMetadatas"></mat-progress-bar>
            </div>
            <div class="column">
                <p>Response: {{selectedResponseId}}</p>
                <pre *ngIf="responseText" class="text">{{responseText | json}}</pre>
                <mat-progress-bar mode="indeterminate" *ngIf="isLoadingResponseText"></mat-progress-bar>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="doReloadList()">RELOAD IDS</button>
    </mat-card-actions>
</mat-card>
