<mat-toolbar color="primary">
    <button mat-icon-button aria-label="Menu">
        <mat-icon>menu</mat-icon>
    </button>
    <span>TRE Researcher Portal</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button aria-label="User">
        <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button aria-label="Apps">
        <mat-icon>apps</mat-icon>
    </button>
</mat-toolbar>

<mat-tab-group>
    <mat-tab matBadge="8" matBadgePosition="after" matBadgeColor="primary" label="Simple Analysis Request Creator">
        <sde-simple-request-creator></sde-simple-request-creator>
    </mat-tab>
    <mat-tab matBadge="8" matBadgePosition="after" matBadgeColor="primary" label="Templated Analysis Request Creator">
        <sde-templated-request-creator></sde-templated-request-creator>
    </mat-tab>
    <mat-tab matBadge="8" matBadgePosition="after" matBadgeColor="primary" label="DataSHIELD Analysis Request Creator">
        <sde-datashield-request-creator></sde-datashield-request-creator>
    </mat-tab>
    <mat-tab matBadge="8" matBadgePosition="after" matBadgeColor="primary" label="Analysis Provider">
        <sde-provider-list></sde-provider-list>
    </mat-tab>
    <mat-tab matBadge="8" matBadgePosition="after" matBadgeColor="primary" label="Analysis Request Log">
        <sde-request-list></sde-request-list>
    </mat-tab>
    <mat-tab matBadge="8" matBadgePosition="after" matBadgeColor="primary" label="Analysis Response Log">
        <sde-response-list></sde-response-list>
    </mat-tab>
    <mat-tab matBadge="8" matBadgePosition="after" matBadgeColor="primary" label="Development Support">
        <sde-devel-support></sde-devel-support>
    </mat-tab>
</mat-tab-group>
