<mat-card>
    <mat-card-header>
        <mat-card-title><h1>Templated Request Creator</h1></mat-card-title>
        <mat-card-subtitle><h2>Analysis parameters</h2></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="2" rowHeight="8em">
            <mat-grid-tile>
                <mat-form-field class="parameter-form-field" appearance="outline">
                    <mat-label>Template ID</mat-label>
                    <input matInput type="text" [value]="templateID">
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-progress-bar mode="indeterminate" *ngIf="isSubmitting"></mat-progress-bar>
        <p *ngIf="submissionOutcome">Outcome: {{submissionOutcome}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="doCreateRequest()">Submit Request</button>
    </mat-card-actions>
</mat-card>
