<mat-card>
    <mat-card-header>
        <mat-card-title><h1>Development Support</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="3" rowHeight="8em">
            <mat-grid-tile>
                <mat-progress-spinner mode="indeterminate" *ngIf="isReloadingAgreementsData"></mat-progress-spinner>
                <button mat-raised-button color="primary" (click)="doReloadAgreementsData()">Reload AgreementsData</button>
                <p *ngIf="reloadAgreementsDataMessage">Outcome: {{reloadAgreementsDataMessage}}</p>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>
